<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/base::layout(~{::section},'Dashboard')}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		 <div class="card dashbord-card">
			<!-- User welcome -->
			<div class="card" style="margin: 5px 0px;">
				<div class="card-body">
					<h5 class="card-title">
						Hi <b><span th:text="${user.name}">.</span>&#128075;</b>
					</h5>
					<p class="card-text">
						Your info: <u><span th:text="${user.about}"></span>.</u>
					</p>
					<p class="card-text"></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="card" style="margin: 5px 0px;">
						<div class="card-body">
							<p class="text-center">
								<i class="fa fa-gear" aria-hidden="true"
									style="font-size: 45px; color: #8c7a9e;"></i>
							</p>
							<p class="card-text">
							<h5 class="text-center">Your Setting</h5>
							</p>
							<p class="text-center">
							<a href="#" th:href="@{/admin/admin-setting}" class="btn btn-primary">
							  Setting
							</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card" style="margin: 5px 0px;">
						<div class="card-body">
							<p class="text-center">
								<i class="fa fa-user-secret" aria-hidden="true"
									style="font-size: 45px; color: #111111;"></i>
							</p>
							<p class="card-text">
							<b>
								<p class="text-center">
								 Total Users: 
									<span th:text="${#lists.size(Allusers)}"></span>
								</p>
							</b>
							</p>
							<p class="text-center">
							<a href="#" th:href="@{/admin/view-users}" class="btn btn-primary">
							  Show
							</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>