<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/base::layout(~{::section},'User Detail')}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
    <section>
       <div class="card mr-2 mb-2 rounded  border-dark">
			<div class="card-body">
				<div class="container text-center">
					<img class="shadow bg-white border border-danger rounded-circle"
						style="width: 200px; height: 200px;" alt="User Image"
						th:src="@{'/images/'+${user.ImageUrl}}">
					<h2 th:text="${user.Name}"></h2>
				</div>
				<hr style="background: #111; height: 3px;" />
				<div class="cotainer table-responsive text-center p-2">
					<!-- alert -->
					<div class="alert text-center" th:if="${session.message1}"
						th:classappend="${session.message1.type}" role="alert">
						<p th:text="${session.message1.content}"></p>
						<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
					</div>
					<table class="table text-center">
						<h3>User Details</h3>
						<tbody>

							<tr>
								<th scope="row">Email:</th>
								<td><span th:text="${user.Email}"></span></td>
							</tr>
							<tr>

								<th scope="row">Role:</th>
								<td><span th:text="${user.Role}"></span></td>
							</tr>
							<tr>

								<th scope="row">Enabled:</th>
								<td><span th:text="${user.Enabled}"></span></td>
							</tr>
                            <tr>

								<th scope="row">Total Contact:</th>
								<td><span th:text="${#lists.size(user.contact)}"></span></td>
							</tr>
						</tbody>

					</table>
					<hr style="background: #111; height: 3px;" />
					<div class="txet-center">
						<h3>-----About User-----</h3>
						<p th:text="${user.About}" class="border border-info"></p>

					</div>

				</div>
			</div>
		</div>
       
    </section>
</body>
</html>