<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{normaluser/base::layout(~{::section},'Add_Contact')}">
<head>
<meta charset="UTF-8" />
<title>Add Contact</title>
</head>
<body>
	<section>

		<div class="card ml-2 mr-3">
		<!-- alert -->
			<div class="alert mt-2 ml-4 mr-4 text-center"
			th:if="${session.message1}" 
			th:classappend="${session.message1.type}" 
			role="alert">
			<p th:text="${session.message1.content}"></p>
			<th:block  th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
			</div>
			<div class="card-body">

				<h1 class="text-center">Add Contact</h1>
				<div class="container-fluid mt-1">

					<div class="row">

						<div class="col-md-10 offset-md-1">

							<form th:action="@{/user/process-contact}" method="post"
								th:object="${contact}" enctype="multipart/form-data"
								class="mt-2">

								<!-- first name -->
								<div class="input-group">

									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-plus"></i>
										</div>
									</div>
									<input class="form-control" type="text" id="firstname"
										name="name" placeholder="Enter name here" required />
								</div>
								<!-- second name -->
								<div class="input-group mt-2">

									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-user"></i>
										</div>
									</div>
									<input class="form-control" type="text" id="secondname"
										name="secondName" placeholder="Enter nick name" required />
								</div>
								<!-- phone -->
								<div class="input-group mt-2">

									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-phone"></i>
										</div>
									</div>
									<input class="form-control" type="number" id="phone"
										name="phone" placeholder="Enter  phone number here" required />
								</div>
								<!-- Email  -->
								<div class="input-group mt-2">

									<div class="input-group-prepend">
										<div class="input-group-text">@</div>
									</div>
									<input class="form-control" type="email" id="email"
										name="email" placeholder="Enter  email here" required />
								</div>
								<!-- work -->
								<div class="input-group mt-2">

									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-briefcase"></i>
										</div>
									</div>
									<input class="form-control" type="text" id="work" name="work"
										placeholder="Enter your work name" required />
								</div>
								<!-- contact description -->
								<div class="form-group mt-2">
									<textarea id="textarea" rows="5" class="form-control"
										name="description" placeholder="Enter description here"
										required></textarea>
								</div>
								<!-- Profile Image -->
								<div class="custom-file">
									<input type="file" id="profileimage" name="profileImage"
										required />
								</div>
								<!-- Add Button -->
								<div class="container text-center">
									<button class="btn btn-outline-primary">Save Contact</button>
								</div>
							</form>

						</div>

					</div>

				</div>

			</div>
		</div>
	</section>
</body>
</html>
